.saved-movies {
  flex-grow: 1;
}

.saved-movies__blank-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.93;
  text-align: center;
  color: rgba(160, 160, 160, 1);
  letter-spacing: -0.04em;
}